<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
   {% block content %}

   {% endblock %}

   <h1>Exmaple</h1>
   <p><b>SPAM</b>: WINNER!! As a valued network customer you have been selected to received $900 prize reward! To claim call 09061701461.</p>
   <p><b>HAM</b>: I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today.</p>
</div>
</body>
</html>